# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules
node_modules
.npm
.yarn-integrity

# Build
dist
dist-ssr
build
.next/
.nuxt/
.output/

# Environment Variables
.env
.env.*
!.env.example
!.env.test

# Testing
coverage/
.nyc_output/

# Cache
.cache/
.eslintcache
.stylelintcache
.prettiercache

# Vite
*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel